# Directories generated during build
dist
build
node_modules
.git
.github
.vscode
public
target
third_party

# Specific files that don't need formatting
package-lock.json
Cargo.lock
*.lock
*.log
*.md
*.json.br
*.wasm
*.rlib